.node{
    background-color: #ec055e;
    box-shadow: 2px 1px 1px #ffc30f;
}

:host {
    margin: 1rem;
    display: inline;
    float: left;
    min-width: 6rem;
}

.number {
    margin: auto 1rem;
    color: #212121;
    font-size: 2rem;
    text-align: center;
    color: #ffffff;

}
